// regen http://instantsprite.com/
// blank ribbon-icon.btn.blank.ribbon-normal
// .ribbon-icon { background: url('img/ribbonIconNormal.png') no-repeat top left;  } 
.ribbon-icon.ribbon-small { width: 20px; height: 20px;}
.ribbon-icon.ribbon-large { width: 32px; height: 32px;}
.ribbon-icon { background: url('img/ribbonIconNormal.png') no-repeat top left;  } 

.ribbon-icon.btnBreakpoint-01.ribbon-normal { background-position: 0px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnBreakpoint-02.ribbon-normal { background-position: -30px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnCamera-01.ribbon-normal { background-position: -72px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnCamera-02.ribbon-normal { background-position: -102px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnCheckList-01.ribbon-normal { background-position: -144px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnCheckList-02.ribbon-normal { background-position: -174px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnCheckNote-01.ribbon-normal { background-position: -216px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnCheckNote-02.ribbon-normal { background-position: -246px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnComment-01.ribbon-normal { background-position: -288px 0px; width: 16px; height: 16px;  } 
.ribbon-icon.btnComment-02.ribbon-normal { background-position: -314px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnCovGraph-01.ribbon-normal { background-position: -356px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnCovGraph-02.ribbon-normal { background-position: -386px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnCustToolbar-01.ribbon-normal { background-position: -428px 0px; width: 16px; height: 16px;  } 
.ribbon-icon.btnCustToolbar-02.ribbon-normal { background-position: -454px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnCycle-01.ribbon-normal { background-position: -496px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnCycle-02.ribbon-normal { background-position: -526px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDebug-01.ribbon-normal { background-position: -568px 0px; width: 16px; height: 16px;  } 
.ribbon-icon.btnDebug-02.ribbon-normal { background-position: -594px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDefault-01.ribbon-normal { background-position: -636px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnDefault-02.ribbon-normal { background-position: -666px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDelete-01.ribbon-normal { background-position: -708px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnDelete-02.ribbon-normal { background-position: -738px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDSAddField-01.ribbon-normal { background-position: -780px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnDSAddField-02.ribbon-normal { background-position: -810px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDSFieldDelete-01.ribbon-normal { background-position: -852px 0px; width: 19px; height: 20px;  } 
.ribbon-icon.btnDSFieldDelete-02.ribbon-normal { background-position: -881px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDSFieldHide-01.ribbon-normal { background-position: -923px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnDSFieldHide-02.ribbon-normal { background-position: -953px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDSFieldLeft-01.ribbon-normal { background-position: -995px 0px; width: 20px; height: 19px;  } 
.ribbon-icon.btnDSFieldLeft-02.ribbon-normal { background-position: -1025px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDSFieldRight-01.ribbon-normal { background-position: -1067px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnDSFieldRight-02.ribbon-normal { background-position: -1097px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDSFieldShowAll-01.ribbon-normal { background-position: -1139px 0px; width: 20px; height: 19px;  } 
.ribbon-icon.btnDSFieldShowAll-02.ribbon-normal { background-position: -1169px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDSGen2Wise-01.ribbon-normal { background-position: -1211px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnDSGen2Wise-02.ribbon-normal { background-position: -1241px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDSGen3Wise-01.ribbon-normal { background-position: -1283px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnDSGen3Wise-02.ribbon-normal { background-position: -1313px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDSGen4Wise-01.ribbon-normal { background-position: -1355px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnDSGen4Wise-02.ribbon-normal { background-position: -1385px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDSGen5Wise-01.ribbon-normal { background-position: -1427px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnDSGen5Wise-02.ribbon-normal { background-position: -1457px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDSGen6Wise-01.ribbon-normal { background-position: -1499px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnDSGen6Wise-02.ribbon-normal { background-position: -1529px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDSGenFull-01.ribbon-normal { background-position: -1571px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnDSGenFull-02.ribbon-normal { background-position: -1601px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDSHideList-01.ribbon-normal { background-position: -1643px 0px; width: 19px; height: 20px;  } 
.ribbon-icon.btnDSHideList-02.ribbon-normal { background-position: -1672px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDSImport-01.ribbon-normal { background-position: -1714px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnDSImport-02.ribbon-normal { background-position: -1744px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDSShowList-01.ribbon-normal { background-position: -1786px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnDSShowList-02.ribbon-normal { background-position: -1816px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDSTableAddRow-01.ribbon-normal { background-position: -1858px 0px; width: 20px; height: 19px;  } 
.ribbon-icon.btnDSTableAddRow-02.ribbon-normal { background-position: -1888px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDSTableDelRow-01.ribbon-normal { background-position: -1930px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnDSTableDelRow-02.ribbon-normal { background-position: -1960px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnDSTableSort-01.ribbon-normal { background-position: -2002px 0px; width: 19px; height: 19px;  } 
.ribbon-icon.btnDSTableSort-02.ribbon-normal { background-position: -2031px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnEraser-01.ribbon-normal { background-position: -2073px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnEraser-02.ribbon-normal { background-position: -2103px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnExecMScript-01.ribbon-normal { background-position: -2145px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnExecMScript-02.ribbon-normal { background-position: -2175px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnExpand-01.ribbon-normal { background-position: -2217px 0px; width: 16px; height: 16px;  } 
.ribbon-icon.btnExpand-02.ribbon-normal { background-position: -2243px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnExpandAll-01.ribbon-normal { background-position: -2285px 0px; width: 16px; height: 16px;  } 
.ribbon-icon.btnExpandAll-02.ribbon-normal { background-position: -2311px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnExport-01.ribbon-normal { background-position: -2353px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnExport-02.ribbon-normal { background-position: -2383px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnFoldAll-01.ribbon-normal { background-position: -2425px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnFoldAll-02.ribbon-normal { background-position: -2455px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnFoldToggle-01.ribbon-normal { background-position: -2497px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnFoldToggle-02.ribbon-normal { background-position: -2527px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnFormat-01.ribbon-normal { background-position: -2569px 0px; width: 16px; height: 16px;  } 
.ribbon-icon.btnFormat-02.ribbon-normal { background-position: -2595px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnGearCheck-01.ribbon-normal { background-position: -2637px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnGearCheck-02.ribbon-normal { background-position: -2667px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnGoBottom-01.ribbon-normal { background-position: -2709px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnGoBottom-02.ribbon-normal { background-position: -2739px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnGoTop-01.ribbon-normal { background-position: -2781px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnGoTop-02.ribbon-normal { background-position: -2811px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnGraph-01.ribbon-normal { background-position: -2853px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnGraph-02.ribbon-normal { background-position: -2883px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnHelpDoc-01.ribbon-normal { background-position: -2925px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnHelpDoc-02.ribbon-normal { background-position: -2955px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnHelpOverview-01.ribbon-normal { background-position: -2997px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnHelpOverview-02.ribbon-normal { background-position: -3027px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnHelpTutorials-01.ribbon-normal { background-position: -3069px 0px; width: 20px; height: 19px;  } 
.ribbon-icon.btnHelpTutorials-02.ribbon-normal { background-position: -3099px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnImport-01.ribbon-normal { background-position: -3141px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnImport-02.ribbon-normal { background-position: -3171px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnJump-01.ribbon-normal { background-position: -3213px 0px; width: 16px; height: 16px;  } 
.ribbon-icon.btnJump-02.ribbon-normal { background-position: -3239px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnLeft-01.ribbon-normal { background-position: -3281px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnLeft-02.ribbon-normal { background-position: -3311px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnLicense-01.ribbon-normal { background-position: -3353px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnLicense-02.ribbon-normal { background-position: -3383px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnLogMisc-01.ribbon-normal { background-position: -3425px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnLogMisc-02.ribbon-normal { background-position: -3455px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnLogMScript-01.ribbon-normal { background-position: -3497px 0px; width: 19px; height: 20px;  } 
.ribbon-icon.btnLogMScript-02.ribbon-normal { background-position: -3526px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnLogServer-01.ribbon-normal { background-position: -3568px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnLogServer-02.ribbon-normal { background-position: -3598px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnManage-01.ribbon-normal { background-position: -3640px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnManage-02.ribbon-normal { background-position: -3670px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnMarkerC-01.ribbon-normal { background-position: -3712px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnMarkerC-02.ribbon-normal { background-position: -3742px 0px; width: 35px; height: 32px;  } 
.ribbon-icon.btnMarkerClear-01.ribbon-normal { background-position: -3787px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnMarkerClear-02.ribbon-normal { background-position: -3817px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnMarkerE-01.ribbon-normal { background-position: -3859px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnMarkerE-02.ribbon-normal { background-position: -3889px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnMarkerEraser-01.ribbon-normal { background-position: -3931px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnMarkerEraser-02.ribbon-normal { background-position: -3961px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnMarkerL-01.ribbon-normal { background-position: -4003px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnMarkerL-02.ribbon-normal { background-position: -4033px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnModelGraph-01.ribbon-normal { background-position: -4075px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnModelGraph-02.ribbon-normal { background-position: -4105px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnModelProp-01.ribbon-normal { background-position: -4147px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnModelProp-02.ribbon-normal { background-position: -4177px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnMonitor-01.ribbon-normal { background-position: -4219px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnMonitor-02.ribbon-normal { background-position: -4249px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnMoveBottom-01.ribbon-normal { background-position: -4291px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnMoveBottom-02.ribbon-normal { background-position: -4321px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnMoveDown-01.ribbon-normal { background-position: -4363px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnMoveDown-02.ribbon-normal { background-position: -4393px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnMoveTop-01.ribbon-normal { background-position: -4435px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnMoveTop-02.ribbon-normal { background-position: -4465px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnMoveUp-01.ribbon-normal { background-position: -4507px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnMoveUp-02.ribbon-normal { background-position: -4537px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnMSCGraph-01.ribbon-normal { background-position: -4579px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnMSCGraph-02.ribbon-normal { background-position: -4609px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnMScriptPlugin-01.ribbon-normal { background-position: -4651px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnMScriptPlugin-02.ribbon-normal { background-position: -4681px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnMScriptService-01.ribbon-normal { background-position: -4723px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnMScriptService-02.ribbon-normal { background-position: -4753px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnMScriptSys-01.ribbon-normal { background-position: -4795px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnMScriptSys-02.ribbon-normal { background-position: -4825px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnMScriptWeb-01.ribbon-normal { background-position: -4867px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnMScriptWeb-02.ribbon-normal { background-position: -4897px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnMScriptWin-01.ribbon-normal { background-position: -4939px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnMScriptWin-02.ribbon-normal { background-position: -4969px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnNew-01.ribbon-normal { background-position: -5011px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnNew-02.ribbon-normal { background-position: -5041px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnPause-01.ribbon-normal { background-position: -5083px 0px; width: 16px; height: 16px;  } 
.ribbon-icon.btnPause-02.ribbon-normal { background-position: -5109px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnPausedAt-01.ribbon-normal { background-position: -5151px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnPausedAt-02.ribbon-normal { background-position: -5181px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnPlay-01.ribbon-normal { background-position: -5223px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnPlay-02.ribbon-normal { background-position: -5253px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnQandA-01.ribbon-normal { background-position: -5295px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnQandA-02.ribbon-normal { background-position: -5325px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnRedo-01.ribbon-normal { background-position: -5367px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnRedo-02.ribbon-normal { background-position: -5397px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnRefresh-01.ribbon-normal { background-position: -5439px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnRefresh-02.ribbon-normal { background-position: -5469px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnReplace-01.ribbon-normal { background-position: -5511px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnReplace-02.ribbon-normal { background-position: -5541px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnReportA-01.ribbon-normal { background-position: -5583px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnReportA-02.ribbon-normal { background-position: -5613px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnReportB-01.ribbon-normal { background-position: -5655px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnReportB-02.ribbon-normal { background-position: -5685px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnReportC-01.ribbon-normal { background-position: -5727px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnReportC-02.ribbon-normal { background-position: -5757px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnReportD-01.ribbon-normal { background-position: -5799px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnReportD-02.ribbon-normal { background-position: -5829px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnReportE-01.ribbon-normal { background-position: -5871px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnReportE-02.ribbon-normal { background-position: -5901px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnReportF-01.ribbon-normal { background-position: -5943px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnReportF-02.ribbon-normal { background-position: -5973px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnReportG-01.ribbon-normal { background-position: -6015px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnReportG-02.ribbon-normal { background-position: -6045px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnReportH-01.ribbon-normal { background-position: -6087px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnReportH-02.ribbon-normal { background-position: -6117px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnReqGraph-01.ribbon-normal { background-position: -6159px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnReqGraph-02.ribbon-normal { background-position: -6189px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnResetRows-01.ribbon-normal { background-position: -6231px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnResetRows-02.ribbon-normal { background-position: -6261px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnResume-01.ribbon-normal { background-position: -6303px 0px; width: 16px; height: 16px;  } 
.ribbon-icon.btnResume-02.ribbon-normal { background-position: -6329px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnRun-01.ribbon-normal { background-position: -6371px 0px; width: 16px; height: 16px;  } 
.ribbon-icon.btnRun-02.ribbon-normal { background-position: -6397px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnRunAll-01.ribbon-normal { background-position: -6439px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnRunAll-02.ribbon-normal { background-position: -6469px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnRunMScript-01.ribbon-normal { background-position: -6511px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnRunMScript-02.ribbon-normal { background-position: -6541px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnRunMScriptAll-01.ribbon-normal { background-position: -6583px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnRunMScriptAll-02.ribbon-normal { background-position: -6613px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnSave-01.ribbon-normal { background-position: -6655px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnSave-02.ribbon-normal { background-position: -6685px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnSearch-01.ribbon-normal { background-position: -6727px 0px; width: 16px; height: 16px;  } 
.ribbon-icon.btnSearch-02.ribbon-normal { background-position: -6753px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnSeqGraph-01.ribbon-normal { background-position: -6795px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnSeqGraph-02.ribbon-normal { background-position: -6825px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnShiftLeft-01.ribbon-normal { background-position: -6867px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnShiftLeft-02.ribbon-normal { background-position: -6897px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnShiftRight-01.ribbon-normal { background-position: -6939px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnShiftRight-02.ribbon-normal { background-position: -6969px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnStepIn-01.ribbon-normal { background-position: -7011px 0px; width: 16px; height: 16px;  } 
.ribbon-icon.btnStepIn-02.ribbon-normal { background-position: -7037px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnStepOver-01.ribbon-normal { background-position: -7079px 0px; width: 16px; height: 16px;  } 
.ribbon-icon.btnStepOver-02.ribbon-normal { background-position: -7105px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnStop-01.ribbon-normal { background-position: -7147px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnStop-02.ribbon-normal { background-position: -7177px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnSysConfig-01.ribbon-normal { background-position: -7219px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnSysConfig-02.ribbon-normal { background-position: -7249px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnTechSupport-01.ribbon-normal { background-position: -7291px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnTechSupport-02.ribbon-normal { background-position: -7321px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnTO-01.ribbon-normal { background-position: -7363px 0px; width: 16px; height: 16px;  } 
.ribbon-icon.btnTO-02.ribbon-normal { background-position: -7389px 0px; width: 32px; height: 31px;  } 
.ribbon-icon.btnToggleFS-01.ribbon-normal { background-position: -7431px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnToggleFS-02.ribbon-normal { background-position: -7461px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnToggleRows-01.ribbon-normal { background-position: -7503px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnToggleRows-02.ribbon-normal { background-position: -7533px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnUnComment-01.ribbon-normal { background-position: -7575px 0px; width: 16px; height: 16px;  } 
.ribbon-icon.btnUnComment-02.ribbon-normal { background-position: -7601px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnUndo-01.ribbon-normal { background-position: -7643px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnUndo-02.ribbon-normal { background-position: -7673px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnUpdates-01.ribbon-normal { background-position: -7715px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnUpdates-02.ribbon-normal { background-position: -7745px 0px; width: 32px; height: 32px;  } 
.ribbon-icon.btnVar-01.ribbon-normal { background-position: -7787px 0px; width: 20px; height: 20px;  } 
.ribbon-icon.btnVar-02.ribbon-normal { background-position: -7817px 0px; width: 32px; height: 32px;  } 
