<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    <script src="../packages/jquery-2.2.0.min.js"></script>
    <script src="angular-1.5.2.min.js"></script>
    <script src="bootstrap-3.3.6-dist/js/bootstrap.js"></script>
    <script src="angular-animate-1.5.2.min.js"></script>
    <script src="ui-bootstrap-tpls-1.2.5.min.js"></script>
    <link href="bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="Playback.js"></script>
    
    <style>
    	.carousel-control {
    		width: 12.5%;
    	}
    	
		.carousel-indicators {
			background-color: #34495E;
			width: 100%;
			margin: auto;
			position: initial;
			z-index: 99;
			padding-left:12.5%;
			padding-right:12.5%;
		}
		
		#leftSide, #leftSide div, #rightSide, #rightSide div {
			font-size: xx-small;
			z-index: 9;
		}
    </style>
    
  </head>
  <body>
	<div ng-controller="CarouselDemoCtrl">
	  <div style="height: 305px">
	    <uib-carousel active="active" interval="playInterval" no-wrap="noWrapSlides" no-pause="true">
	      <uib-slide ng-repeat="slide in slides track by $index" index="$index">
	        <img ng-src="../app=websvc&action=video&cmd=getSlide&name={{curVideo.name}}&fname={{slide.imgName}}" style="margin:auto; width: 75%;">
	      </uib-slide>
	      
		  <div id="leftSide" style="position: absolute; bottom: 0px;width: 12.5%; font-size: xx-small; font-style: italic; text-shadow: 0 1px 2px rgba(0,0,0,.6);">
		  		<select style="font-size: xx-small; text-shadow: 0 1px 2px rgba(0,0,0,.6); width:100%;border: 1px solid #CCCCCC;font-style: italic;background: transparent; color: #333333;" 
						ng-model="curVideo" ng-options="video as video.name for video in videoList"
						ng-change="openVideo(curVideo);">
				</select><br/>
		  		<div style="padding-left: 4px;">Date: {{startDT}}</div>
		  		<div style="padding-left: 4px;">{{startTS}} - {{endTS}}</div>
		  		<div style="padding-left: 4px;">
		  			Slides: {{slides.length}}
		  			<span style="float: right;">
		  				<a style="margin-left: 3px;" href="#" ng-click="delCurVideo()" title="Delete current screen recording." data-toggle="tooltip">&#x2717;</a>
		  			</span>
		  		</div>
		  </div>
          <div id="rightSide" style="position: absolute; bottom: 0px; left: 87.5%; padding-left: 2px; width: 12.5%; font-size: xx-small; font-style: italic; text-shadow: 0 1px 2px rgba(0,0,0,.6);" >
	        	Slide {{active+1}}<br/>
        		{{slides[active].dt}} {{slides[active].ts}}<br/>
        		{{slides[active].fname}}
          </div>

	      <script type="text/ng-template" id="alertPopup.html">
	        <div class="modal-header">
	            <h3 class="modal-title">Attention</h3>
	        </div>
	        <div class="modal-body">
	            <ul style="list-style-type: none;">
	                <li ng-repeat="item in items">
	                   	{{ item }}
	                </li>
	            </ul>
	        </div>
	      </script>
	    </uib-carousel>
	  </div>
	</div>
  </body>
</html>
