html {
	background-color: #Ebeff5;
}

table {
	background-color: #Ebeff5;
}


.startRow td {
	border-top: 1px solid #CCCCCC;
}

.connInfo, .params {
	width: 400px;
}

.tab {
	width: 20px;
}

.ALM {
	display: none;
}

