/* pda.css */
html,body {
	-webkit-text-size-adjust:none; 
	margin: 0px;
	padding: 0px;
	height: 100%;
	background: #222222;
	color: white;
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;

}

#appHeader {
	border-bottom: 1px solid #555555;
}

.TestOptimal a {
	font-weight: bold;
	color: #FF8C00;
	font-style: italic;
	font-size: large;
	text-decoration: none;
}

#execDiv button, .bRefresh {
	font-size: x-small;
	font-weight: bold;
	padding: 1px;
	width: 40px;
	height: 22px;
}

img {
	border: none;
}

#wiki {
	color: orange;
}

#modelGraph {
	color: orange;
}

#modelMscript {
	color: orange;
}

.hide {
	display: none;
}

.wide {
	display: none;	
}

#tabHeaderTr {
	padding-top: 2px;
	background-color: #444444;
}

.tab {
	display: none;
}

.expand {
	color: yellow;
	font-weight: bold;
}

a:link {
	text-decoration: none;
	color: orange;
}

#tabHeader {
	background-color: #444444;
	color: black;
}

#tabHeader span,#tabHeader td {
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: none;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #555555;
}

.tabHeaderSide {
	background-color: #444444;
}

#main {
	height: 100%;
	background-color: #606060;
	color: #EEEEEE;
}

#tabHeader span.tabSelected,#tabHeader td.tabSelected {
	background-color: #515151;
	color: #DDDDDD;
	border-bottom: none;
	font-weight: bold;
}


.hoverOver {
	background-color: orange;
}

#fileCmd {
	border-top: 1px solid #AAAAAA;
}

#fileHeaderTr th {
	border-bottom: 1px solid #AAAAAA;
}

#modelDiv ul {
	list-style-type: none;
	padding-top: 0px;
	padding-left: 0px;
	margin-left: 0px;
	margin-top: 0px;
}

.scxml ul {
	display: none;
}

#modelDiv li {
	margin-left: 0px;
	padding-top: 0px;
	margin-top: 0px;
	padding-left: 15px;
}

.disabled,.breakpoint,.initial,.final {
	background: #660000;
	color: yellow;
	display: none;
	font-style: italic;
	font-weight: none;
	font-size: xx-small;
	margin-left:4px;
}

.paused {
	background: orange;
	color: #FFFFFF;
	display: none;
	font-style: italic;
	font-weight: none;
	font-size: xx-small;
	margin-left:4px;

}

#scxmlPaused a {
	background: orange;
	color: #FFFFFF;
	font-style: italic;
	margin-left: 4px;
	font-size: small;
}

.nodeicon {
	color: #FFEEEE;
	font-style: italic;
	font-weight: normal;
	font-size: xx-small;
}

.submodelicon {
	color: #FFEEEE;
	font-style: italic;
	font-weight: normal;
	font-size: small;
	border-style: solid;
	border-width: 1px;
}


#monitorHeader {
	height: 15px;
}

#statetransstats {
	padding-top: 0px;
	padding-left: 0px;
}

.header {
	background-color: #606060;
	text-decoration: none;
	font-weight: bold;
}



.alert {
	color: red;
	text-decoration: none;
	font-weight: bold;
}

.normal {
	color: green;
	text-decoration: none;
	font-weight: bold;
}

.barNum {
	float: left;
}

.barMin {
	background-color: #FF8C00;
	width: 49px;
	height: 7px;
	float: right;
}

.bar {
	position: relative;
	width: 100px;
	height: 7px;
	background-color: #FF8C00;
}

.barMid {
	background-color: blue;
	width: 3px;
	height: 7px;
	position: absolute;
	left: 60px;
}

.barMax {
	background-color: green;
	width: 49px;
	height: 7px;
	float: right;
}

.numField {
	border-right: solid #A4A4A4 1px;
}

.selectedNode {
	background-color: #686868;
}

.modelGraphImg {
	border: none;
	height: 10px;
	width: 10px;
	padding-left: 3px;
}

#execDiv tbody {
	background-color: #707070;
	color: #FFFFFF;
}


#statsDiv tbody {
	background-color: #707070;
	color: #FFFFFF;
}

#mbtPropDiv tbody {
	background-color: #707070;
	color: #FFFFFF;
}

#mbtPropDiv .url {
	width: 230px;
}



#mbtPropDiv .stoptime {
	width: 30px;
}

#mbtPropDiv .stopcount{
	width: 50px;
}

#mbtPropDiv .actiondelaymillis{
	width: 50px;
}

.inputWide {
	width: 350px;
}

.inputNormal {
	width: 200px;
}

.exception {
	background-color: orange;	
}

#facebox {
	width: 200px;
}

a:visited {
	
}