html,body{
    height:100%;
    border:none;
	color: black;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	background-color: #FCFCFC;
	overflow: auto;
}

.optionSelector {
	margin-left: 8px;
}

#chartArea {
	margin-top: 10px;
}

#chartArea div {
	margin-top: 10px;
	width: 100%;
}

select, input {
	font-size: 10px;
}