html, body {
	margin: 0;
	padding: 0;
    height: 100%;
    width: 100%;
    border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	overflow: hidden;
}


.indOK {
	background-color: #ffffff;
}

div {
	padding: 0;
	margin: 0;
	border: 0;
}

#sideBar {
	float: left; 
	width: 25px; 
	height: 100%;
	background-color: #F0EEE3;
}

#sideBar img {
	padding-left: 2px;
}

#sideBarFiller {
	height: 27px;
}

#sideBarFiller img {
	padding: 3px 0px 5px 3px;
}

#appContent {
	width: 100%;
	display: block;
	float: top;
}

.reqModelOpen {
	display:none;
}

#panesWrapper {
 	height: 100%; 
 	float: left;
}

.hoverMenu .menuLabel {
	color: #FFFFFF;
	font-size: 1em;
	text-decoration: none;
	margin-right: 4px;
}


#loadingImg, .indImg {
	position: fixed;
	left: 3px;
	top: 37px;
	display: none;
}

.sizeCtrl {
	vertical-align: bottom;	
	height: 18px;
	margin-top: 2px;
}

.icon-wrap {
	padding: 0px !important;
	margin: 4px !important;
}


ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: blue;
	text-decoration: none;
	text-indent: 2px;
	list-style-position: outside;
	list-style-type: none;
	padding-left: 5px;
	padding-bottom: 5px;
}


A:link {
	text-decoration: none;
	cursor: hand;
}

A:visited {
	text-decoration: none;
	color: blue;
}

A:active {
	text-decoration: none;
}

A:hover {
	text-decoration: underline;
	cursor: hand;
}

.menu a:hover{
	color:#806517;
	font-weight:bold;
	text-decoration:underline;

}



/* hover menu */
#nav-one {
	margin-left: 0px;
	float: left;
}

.nav-dropdown {
	z-index: 900;
	margin-top: 22px;

}

.nav, .nav ul { 
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.nav li {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.nav li a, .nav li a:link, .nav li a:active, .nav li a:visited {
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #FFFFFF;
  height: 16px;
  padding: 0px;
  margin: 0px;
  display: block;
  text-decoration: none;
}

.menuTopItem {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #444444;
  padding: 5px 7px 0px 7px;
  display: block;
  height: 27px;
}

.menuTopItem:hover {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #ffffff;
  padding: 5px 7px 0px 7px;
  display: block;
  height: 27px;
  background-image: url(../img/button_bg.png);
  background-repeat: repeat-x;
}

.menuHR {
	height: 5px;
	color: #cccccc;
	overflow: hidden;
}

.menuHR HR {
	color: #cccccc;
}

#nav-one li:hover .menuTopItem{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #ffffff;
  display: block;
  height: 25px;
  background-image: url(../img/button_bg.png);
  background-repeat: repeat-x;
}

#nav-one li:hover ul a, 
#nav-one li.sfHover ul a {
  background: #DCE9F0;
  color: #333333;
  padding: 5px 0px 0px 5px;
  width: 120px;
}

#nav-one li:hover ul a:hover, 
#nav-one li.sfHover ul a:hover {
  background: #F2F7FA;
  color: #333333;
}

.nav ul {
  background: #DCE9F0;
  list-style: none;
  padding: 0px;
  position: absolute;
  top: -999em;
}

.nav-dropdown ul {
  background: #DCE9F0;
  list-style: none;
  padding: 0px;
  position: absolute;
  top: -999em;
  padding: 7px 0px 7px 0px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}


.nav li:hover ul,
.nav li.sfHover ul {
  top: 30px;
}
.nav ul li {
  border: 0;
  float: none;
  width: 100%;
}
.nav ul a {
  padding-right: 10px;
  white-space: nowrap;
}

.menuBody {
	display: none;	
}



.modelChanged {
	border: 1px solid orange;
	background-color: orange;
}


.moving, #vDivider:hover, #hDivider:hover {
	background-color: #DDDDDD;
}

.ui-widget-overlay {
  opacity: 0.1;
  filter: alpha(opacity = 10);
  background-color: #AAAAAA;
}


#opaqDiv {
  opacity: 0.1;
  filter: alpha(opacity = 10);
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index: 100;
  display:none;
  background-color: #DFDFDF;
}

.mode {
	width: 25px;
	margin-top: 1px;
	margin-bottom: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 9px;
	color: #000000;
	font-weight: bold;
	width: 21px;
	border-radius: 2px;
	border: 1px solid #BBBBBB;
}

.mode span:hover {
	background-color: #fde38a;
	color: #000000;
}

.mode.modeSelected {
	background-color: green; //#72a700;
	color: #FFFFFF;
}

#modeCov {
	margin-bottom: 3px;
}

.sbIcon {
	overflow: hidden;
	display: none;
	background-color: #FDFDFD;
   -moz-box-shadow:    inset 0 0 10px #F0EEE3;
   -webkit-box-shadow: inset 0 0 10px #F0EEE3;
    box-shadow:        inset 0 0 10px #F0EEE3;
}

.sbIcon img {
	margin-left: 2px;
	border-radius: 4px;
	border: 1px solid #DDDDDD;
}

.sbIcon img:hover {
	border: 1px solid #AAAAAA;
	background-color: #FDE38A;
}

.sbIcon img:active {
	border: 1px solid #DDDDDD;
	background-color: #FFD86C;
}

.icon-ctrl img {
	position: relative;
	top: 3px;
	margin-right: 4px;
}



.sc {
	float: right;
	font-size: 10px;
	padding: 0px;
	height: 8px;
}

.msc {
	font-size: 10px;
	padding-left: 5px;
	height: 8px;
	color: #333333;
}

li.selectedSession {
	font-weight: bold;
	padding: 0 4px;
	color: #333333;
}


#propDialog {
	display: none;
	border: 0; 
	width: 100px; 
	height: 100px; 
	padding: 0px; 
	margin:0px; 
	overflow: hidden;
}

#facebox {
	z-index: 99999;
}


/* handle on the bottom */
.ui-resizable-s {
    height: 25px;
}

/* handle on the right */
.ui-resizable-e {
    width: 15px;
}
/* handle icon (corner) */
.ui-resizable-se {
    width: 25px;
    height: 25px;
}

.reqLockModel {
	display: none;
}

.newFeature {
	display: none;
}